.desc{
    font-size: 1.5rem;
}

.image1{
  background:url(../Image/index.jpg) no-repeat center fixed;
  background-size: 100vw auto;
  margin-bottom: 0px;
}
.image2{
  background: url(../Image/index2.jpg) no-repeat center fixed;
  background-size: 100vw auto;
  margin-bottom: 0px;
}

.image1 h1{
  font-family: Helvetica;
  font-size: 140px;
  left :50%;
  transform: translate(-50%);
  padding-top: 23%;
  padding-bottom: 23%;
  color: white;
  text-shadow: -2px 0 black, 0 2px black,2px 0 black, 0 -2px black;
  margin-bottom: 0px;
}
.photo{
  border: 10px solid;
  border-radius: 50%;
  padding-top: 1%;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 15%;

}
.apropos{
  background-image: linear-gradient(to left, rgba(24,43,117,0.7), rgba(43,4,234,0.1));
  width: 40%;
  border: 3px solid;
  padding-top: 1%;
  margin:  2% auto;
  margin-left: 15%;
  margin-right: 5%
}
.apropos p{
  font-size: 30px;
}
.skills{
  width:100%;
  margin:2% 20%;
  padding:  0% 1%;
  padding-bottom: 2%;
  border: 3px solid;
  background-color:  rgba(255, 255, 255, 0.7);
}
.skills p{
  padding-top:2%;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.projet{
  margin-top: 2%;
  margin-bottom: 2%
}

.page-projet{
    display: flex;
    flex-wrap: wrap;
    margin: 1% auto;
    justify-content: center;
    position: relative;
}

.page-projet  a{
    display: block;
    position: relative;
    color: white;
    overflow: hidden;
}

.page-projet img{
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.page-projet .note, .page-projet .nom-projet{
    margin: 5px 0px;
    font-size: 2.5rem;
}

.page-projet .nom-projet{
    font-weight: bold;
}


/* Overlay */

.real-over{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.real-over{
    position: absolute;
    /*background-image: linear-gradient(to right, rgba(255,88,172,0.7), rgba(231,36,37,0.8));*/
    background-image: linear-gradient(to left, rgba(24,43,117,0.6), rgba(43,4,234,0.6));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    transition: opacity 300ms ease-in-out;
    z-index: 1;
    border-radius: 10px;
}

.page-projet a:hover .real-over{
    opacity: 1;
    top: 0;
}
.contact{
  text-align:left;
  text-justify: inter-word;
  padding:2% 1%;
}
.lien{
  padding:2% 1%;
}
.Copyright{
  padding:4% ;
}
p{
  font-size: 20px;
  margin-bottom: 0px;
}
body {
  text-align: center;
  color: black;
  margin-bottom: 0;
  font-family: Helvetica;
}
h2{
  top: 24px;
  font-size: 60px;
  border: 3px solid;
  background-color:  rgba(255, 255, 255, 0.7);
  position:relative;
  left: 50%;
  transform: translate(-50%);
  padding-top:1%;
  width: 650px;
  height: 106px;
  margin-bottom: 50px;
}

footer {
  background-color:#333;
  color: white;
  margin-bottom: 0px;
}
